body { /* Default Background Color*/
    background-color: #F9F9EF;
}

/* Navbar CSS */

div.container-fluid {
    /* center navbar content */
    width: auto;
}

nav {
    background-color: #874C62;
}

nav img {
    height: 50px;
}

nav .container {
    position: relative; 
}


/* Products Page */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.product-tagline {
    background-color: #a7d2cb;
}

.product-tagline h1 {
    /* font-family: 'Lobster', cursive; */
    color: #874C62;
    font-size: 400%;
    text-align: left;
    padding: 30px;
}

.product-tagline p {
    /* font-family: 'Poppins', sans-serif; */
    line-height: 0.5;
    font-size: 150%;
    text-align: left;
    padding: 30px;
}

.product-tagline img {
    float: right;
}


/* About Page */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
div.about-section {
    background-color: #f7f5ed;
    margin-left: 20px;
    margin-right: 20px;
}

.about-section {
    margin-right: 30%;
    margin-left: 30%;
}

.about-section h1 {
    font-family: 'Lobster', cursive;
    color: #874C62;
    text-align: center;
    font-size: 66px;
}

.about-section .about-p1 {
    font-family: 'Garamond';
    font-size: 22px;
    color: #874C62;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.4;
}

.about-section .about-p2 {
    font-family: 'Garamond';
    font-size: 22px;
    color: #874C62;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.4;
}

/* Test */
/* @media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
} */

/* FAQs */

.faqs ol {
    list-style-type: 1;
    font-size: 2vw;
    margin-left: 15px;
    line-height: normal;
}

.faqs p {
    color: #646460;
    margin-right: 15px;
    margin-left: 15px;
    text-align: justify;
    font-size: 1.5vw;
}

/* .faqsfoot footer {
    background-color: #2F2E2E;
    max-height: 25vw;
    max-width: 100%;
} */
