/* Default Background Color*/

body {
    background-color: #F9F9EF;
}


/* Navbar CSS */

div.container-fluid {
    /* center navbar content */
    width: auto;
}

nav {
    background-color: #874C62;
}

nav img {
    height: 50px;
}

nav .container {
    position: relative;
}


/* company logo is only 1/4 when the screen is big; 1/2 if smaller screens than medium through w-50*/

@media only screen and (min-width: 768px) {
    .navbar-brand {
        width: 25% !important;
    }
}


/* Landing Page */

#landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(".images/land banner.gif");
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

#landing h1 {
    color: #A7D2CB;
    font-family: 'Lobster', cursive;
    padding: 20px;
    text-align: center;
}

#landing h2 {
    color: #F8E9C2;
    font-family: 'Lobster', cursive;
    padding: 20px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #landing h1 {
        font-size: 100px;
    }
    #landing h2 {
        font-size: 100px;
    }
}

.choose-head {
    color: #A7D2CB;
    font-family: 'Lobster', cursive;
    padding: 20px;
    font-size: 66px;
    text-align: center;
}

.choose-p {
    font-family: 'Garamond';
    font-size: 22px;
    color: #68AEA3;
    text-align: center;
    text-indent: 50px;
    line-height: 1.4;
}

.showcase {
    background-color: #F2D388;
}

.showcase-text {
    font-family: 'Garamond';
    font-size: 22px;
    color: #B76957;
    text-align: center;
    line-height: 1.4;
    padding: 20px;
}
<<<<<<< HEAD

.reviews-section {
=======
.reviews-section h1 {
>>>>>>> a9a14cde14d2df62b9d67983902409ecaef9b35b
    color: #874C62;
    font-family: 'Garamond';
    font-size: 66px;
    ;
    text-align: center;
    line-height: 1.4;
}

<<<<<<< HEAD
=======
.review-grid h1 {
    color: #874C62;
    font-family: 'Garamond';
    font-size: 30px;;
    text-align: center;
    line-height: 1.4;
}

.review-grid p {
    color: #874C62;
    font-family: 'Garamond';
    font-size: 20px;;
    text-align: center;
    line-height: 1.4;
}


#questions {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(".images/land banner.gif");
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}
}
#questions h2 {
    color: #F8E9C2;
    font-family: 'Lobster', cursive;
    padding: 20px;
    text-align: center;
}

@media only screen and (min-width: 768px) {

    #landing h2 {
        font-size: 100px;
    }
}

>>>>>>> a9a14cde14d2df62b9d67983902409ecaef9b35b
.questions {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(".images/land banner.gif");
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.questions h2 {
    color: #F8E9C2;
    font-family: 'Lobster', cursive;
    padding: 20px;
    font-size: 7vw;
    text-align: center;
}


/* Products Page */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.product-tagline {
    background-color: #a7d2cb;
}

.product-tagline h1 {
    /* font-family: 'Lobster', cursive; */
    color: #874C62;
    font-size: 400%;
    text-align: left;
    padding: 30px;
}

.product-tagline p {
    /* font-family: 'Poppins', sans-serif; */
    line-height: 0.5;
    font-size: 150%;
    text-align: left;
    padding: 30px;
}

.product-tagline img {
    float: right;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(".images/land banner.gif");
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}


/* About Page */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@media only screen and (min-width: 768px) {
    #middle-header h1 {
        width: 60% !important;
        text-align: center;
        font-size: 66px;
    }
    #about-p {
        font-size: 20px;
        line-height: 1.4;
    }
    #vision-p {}
    #owner-p {}
}

.about-section .about-p1 {
    font-size: 22px;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.4;
}

.about-section .about-p2 {
    font-family: 'Garamond';
    font-size: 22px;
    color: #68AEA3;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.4;
}

.vision-section p {
    font-family: 'Garamond';
    font-size: 22px;
    color: #4B4B48;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.4;
}


/* Test */


/* @media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
} */


/* FAQs */

.list-group-item p {
    color: #646460;
    padding-left: 4%;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 0;
}

.list-group-item {
    background-color: transparent;
    border: none;
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    #faqs_header img {
        width: 60% !important;
    }
    #faqs_main {
        font-size: 20px;
    }
}


/* Order Page */

.obanner-fluid img {
    max-width: 100%;
    max-height: auto;
}

.ofoot-fluid img {
    max-width: 100%;
    max-height: auto;
}


/* Footer CSS */

footer a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

footer a,
footer a:hover {
    text-decoration: none !important;
}

.footer-14398 {
    background: #2F2E2E;
    color: #777;
}

.footer-14398 .footer-site-logo {
    margin-bottom: 30px;
    display: block;
}

.footer-14398 h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-14398 .links li {
    margin-bottom: 10px;
}

.footer-14398 .links li a {
    color: #999;
}

.footer-14398 .links li a:hover {
    color: #fff;
}

.footer-14398 .link-menu li {
    display: inline-block;
}

.footer-14398 .link-menu li a {
    color: #fff;
    display: inline-block;
    padding: 10px;
}

.footer-14398 .link-menu.nav-left li:first-child a,
.footer-14398 .link-menu.nav-right li:last-child a {
    padding-left: 0;
}

.footer-14398 .social li {
    display: inline-block;
}

.footer-14398 .social li a {
    display: inline-block;
    padding: 10px;
    color: #ccc;
}

.footer-14398 .social li:last-child a {
    padding-right: 0;
}

.footer-14398 .line {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-14398 ul {
    list-style-type: none;
    padding-left: 5px;
}

.footer-14398 ul li {
    margin-bottom: 10px;
}


/* Landing */

.labt h1 {
    text-align: center;
    font-size: 5vw;
    color: #68AEA3;
}

.labt table,
td {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    font-size: 1.5vw;
    color: #68AEA3;
}